.img-cards-wrapper {            
    height: 360px;
    .x-accent {
        height: 3px;            
        background-color: #014A77;
        position: absolute;
        bottom: 65px;
        left: -35px;
        
        &.sm {
            width: 182px;
        }

        &.lg {
            width: 340px;
        }
    }

    a {
        color: #FFF;
        text-decoration: none;
    }

    .history-card {
        box-shadow: 9px 9px 0px 0px rgba(229,231,241,1);            
        flex: 1;
        margin: 0 40px;

        background-image: url("/assets/images/content-pages/aboutus-history.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        
        p {
            letter-spacing: 2px;
            font-size: 24px;
            position: absolute;
            bottom: 20px;
            left: 40px;
        }
    }
    .community-card {
        box-shadow: -9px -9px 0px 0px rgba(229,231,241,1);
        flex: 2;
        margin: 0 40px;

        background-image: url("/assets/images/content-pages/aboutus-community.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        
        p {
            line-height: 30px;
            letter-spacing: 2px;
            font-size: 24px;
            position: absolute;
            bottom: 20px;
            left: 40px;
        }
    }

    .tablet-styles({
        height: 225px;
        padding: 0 40px;
    });

    .styles-at(786px, {
        flex-direction: column;
        height: 550px;

        .history-card {
            margin-bottom: 30px;
        }

        .community-card {
            flex: 1;
            box-shadow: 9px 9px 0px 0px rgba(229,231,241,1);
        }
    });

    .styles-at(500px, {
        .x-accent {                    
            &.lg {
                width: 182px;
                bottom: 90px;
            }
        }

        .history-card {
            margin-left: 2px;
            margin-right: 2px;
        }

        .community-card {
            margin-left: 2px;
            margin-right: 2px;
        }
    });

    .mobile-styles({

    });