footer {
  background-color: #333;
  padding: 50px;
  position: relative;

  p {
    color: #888;
    text-align: right;
    margin-top: 20px;
    font-size: responsive 14px 18px
  }
}

.social-links {

}

.social-container {
  list-style: none;
  display: flex;
  flex-flow: row wrap;

  div {
      flex-basis: 50%;

    @media only screen and (max-width: 414px) {
      flex-basis: 100%;

      &:first-child {
        text-align: center;
      }
    }
  }
}
