.section-pinball {
    background: #fff;
    width: 70%;
    margin: 0 auto;

    p {
        margin-bottom: 40px;
        line-height: 145%;
        font-size: 20px;
        text-align: center;
    }
    .pinball-list {
        display: flex;
        justify-content: center;
        font-size: 18px;
        ul {
            list-style: none;

            li {
                margin-bottom: 10px;
            }

            li::before {
                content: "\2022";
                color: #2980b9;
                font-weight: bold;
                display: inline-block;
                width: 1em;
                margin-left: -1em;
            }
        }
    }
}
